<%- include('partials/header.ejs') %>

<div class="container">
  <div class="jumbotron text-center mt-5">
      <div class="container">
        <img src="<%= img %>" class="mt-3 mb-3 img-thumbnail" style="max-width:15%;" alt="">
        <h1 class="jumbotron-heading" name="title"><%= title.substring(0, 15) %></h1>
        <h5><%= author %></h5>
        <h3>Genre: <%= genre %></h3>
        <p class="lead text-muted"><%= content %></p>
        <div class="rate">
          <p class="rating text-center">Rate now</p>
          <input type="radio" id="star5" name="rate" value="5" />
          <label for="star5" title="text">5 stars</label>
          <input type="radio" id="star4" name="rate" value="4" />
          <label for="star4" title="text">4 stars</label>
          <input type="radio" id="star3" name="rate" value="3" />
          <label for="star3" title="text">3 stars</label>
          <input type="radio" id="star2" name="rate" value="2" />
          <label for="star2" title="text">2 stars</label>
          <input type="radio" id="star1" name="rate" value="1" />
          <label for="star1" title="text">1 star</label>

      </div>
        <p>
          <a type="submit" class="btn btn-primary my-1" href="/home/mybooks/<%= title %>">Add to <b>MY BOOKS</b></a>
          <a href="<%= link %>" class="btn btn-secondary my-2">Purchase Link</a>
        </p>

        <div class="contain">
              <div class="post">
                 <div class="text">
                    Thanks for rating us!
                 </div>
                 <div class="edit">
                    EDIT
                 </div>
              </div>
              <div class="star-widget">
              <input type="radio" name="rate" id="rate-5">
              <label for="rate-5" class="fas fa-star"></label>
              <input type="radio" name="rate" id="rate-4">
              <label for="rate-4" class="fas fa-star"></label>
              <input type="radio" name="rate" id="rate-3">
              <label for="rate-3" class="fas fa-star"></label>
              <input type="radio" name="rate" id="rate-2">
              <label for="rate-2" class="fas fa-star"></label>
              <input type="radio" name="rate" id="rate-1">
              <label for="rate-1" class="fas fa-star"></label>
              <form action="#" class="box">
              <header></header>
              <div class="textarea">
              <textarea cols="30" placeholder="Describe your experience.."></textarea>
              <br />
              <div class="btn">
                 <button type="submit">Post</button>
              </div>
              <script>
                 const btn = document.querySelector("button");
                 const post = document.querySelector(".post");
                 const widget = document.querySelector(".star-widget");
                 const editBtn = document.querySelector(".edit");
                 btn.onclick = ()=>{
                   widget.style.display = "none";
                   post.style.display = "block";
                   editBtn.onclick = ()=>{
                     widget.style.display = "block";
                     post.style.display = "none";
                   }
                   return false;
                 }
              </script>


      </div>



        </div>
</div>
